.main-content {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #f3f3f3;
  padding: 20px;
  margin-top: 40px;
}

h1 {
  color: red;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  font-family: serif;
  margin-bottom: 30px;
  padding: 0 40px;
  overflow-wrap: break-word;
  text-align: center;
}

.link-color {
  color: rgb(0, 0, 0);
}

.sitemap{
  margin-left: auto;
}

.page-annexe {
  width: 100%;
  padding: 0;
  top: 0;
}

@media screen and (max-width: 1250px) {
  .line-container {
    flex-direction: column;
  }

  .text-container {
    width: 80%;
  }

  .img-right {
    margin-left: 0;
  }
  
  .img-left {
    margin-right: 0;
  }

  #line-container-reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 1000px) {
  .image-container {
    width: 70%;
  }
  .page-home h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    align-items: center;
  }
}