p {
  text-align: justify;
  margin: 0; 
  width: 100%;
}

/*Contenue de la page*/
.main-content {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #ebebeb;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
}

h1 {
  color: red;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  font-family: serif;
  margin-bottom: 30px;
  padding: 0 40px;
  overflow-wrap: break-word;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn{
  background-color: rgba(255, 255, 255, 0.65);
  text-align: center;
}

.line-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
}

.container-txtAndImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.text-container  {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-bottom: 30px;
  height: auto; 
  padding: 0 30px;
  text-align: center;
  /*border: 1px dashed black; */
}

.text-container.overflow-active .text-content {
  margin-top: 0; /* Ajuster la marge supérieure pour positionner le texte en haut */
}

.text-container.overflow-active {
  align-items: flex-start; /* Aligner le texte en haut lorsque le débordement est activé */
}


.title-letter {
  display: inline-block;
  opacity: 0;
  animation: slideInFromRight 0.5s forwards;
}

.tabulation {
  margin-left: 30px;
  text-align: left;
}

.image-container {
  width: 45%;
  margin-bottom: 20px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: auto; 
  border: 2px solid black;
}

.img-place{
  cursor: zoom-in;
}

.img-right {
  margin-left: 30px;
}

.img-left {
  margin-right: 30px;
}

.conclusion {
  padding: 20px;
  background-color: #b1b1b1;
  text-align: justify;
  
}

@media screen and (max-width: 1250px) {
  .line-container {
    flex-direction: column;
  }

  .text-container {
    width: 80%;
  }

  .img-right {
    margin-left: 0;
  }
  
  .img-left {
    margin-right: 0;
  }

  #line-container-reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 1000px) {
  .image-container {
    width: 70%;
  }
}


@media screen and (max-width: 1000px) {
  .page-home h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    align-items: center;
  }
}